// Default Colors
$white: #ffffff;
$black: #000000;

// Custom Colors
$background: #2f333e;
$primary: #e3c251;
// $primary: #68b685;
$secondary: #96adc8;
// $tertiary: #498467;

// Font Sizes
$fontSizeLarge: 38px;
$fontSizeSmall: 16px;
$fontSizeFooter: 12px;

// Extra
$textShadow: #00000040 2px 2px 0px;
