$white: #ffffff;
$black: #000000;

$background: #2f333e;
$primary: #e3c251;
// $primary: #68b685
$secondary: #96adc8;
// $tertiary #498467

$fontSizeLarge: 38px;
$fontSizeSmall: 16px;
$fontSizeFooter: 12px;
