@import "variables";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Play Play Play"
    "Categories Categories Categories"
    "Settings Friends Help";

  .item {
    overflow: hidden;
    height: 7rem;
    color: $white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    letter-spacing: 2px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: $textShadow;
    background: color-mix(in srgb, $secondary 10%, transparent);
  }

  .play {
    grid-area: Play;
    background: $primary;
  }

  .modes {
    grid-area: Categories;
  }

  .friends {
    height: 5rem;
    grid-area: Friends;
  }

  .settings {
    height: 5rem;
    grid-area: Settings;
  }

  .help {
    height: 5rem;
    grid-area: Help;
  }
}
