@import "../../variables";

.nav {
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: $textShadow;
  }
}
